
<div
*ngIf="deletedHeroe?.nombre"
class="alert alert-success">
    <b>{{ deletedHeroe?.nombre }}</b> se ha eliminado con exito.
</div>

<div
*ngIf="listHeroes.length > 0; else listHeroesVoid"
class="row row-cols-1 row-cols-md-3 g-4">

    <div
    *ngFor="let heroe of listHeroes; index as id"
    class="col">
        <div class="card">
            <img src="{{ heroe.imagen }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ heroe.nombre }} </h5>
                <p class="card-text"> {{ heroe.descripcion }} </p>
                <button
                type="button"
                class="btn btn-danger"
                (click)="removeHeroById( id )"
                >
                    Eliminar
                </button>
            </div>
        </div>
    </div>

</div>

<ng-template #listHeroesVoid>
    <h4 class="text-center">No hay heroes en este momento.</h4>
</ng-template>
